<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>AreYouReady?!</title>
  <link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="style.css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
  <!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
  <!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
  <script type="text/javascript" src="style/js/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
  <script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
  <script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="style/js/carousel.js"></script>
  <script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="style/js/jquery.slickforms.js"></script>

  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
  <!-- Firebase App is always required and must be first -->
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>

  <!-- Add additional services that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-functions.js"></script>
  <script type="text/javascript" src="logging.js"></script>
  <script type="text/javascript" src="bulletin.js"></script>


</head>

<body>
  <!-- Begin Wrapper -->
  <div id="wrapper">
    <!-- Begin Sidebar -->
    <div id="sidebar">
      <div id="logo"><a href="index.html"><img src="style/images/ayr_logo.png" width="200px" ; height="60px" ; alt="AreYouReady?!" /></a></div>

      <!-- Begin Menu -->
      <div id="menu" class="menu-v">
        <ul>
          <li><a href="index.html">홈</a></li>
          <li><a href="requirement.html">졸업요건</a></li>
          <li><a href="">이수과목</a>
            <ul>
              <li><a href="credit2017.html">2017</a></li>
              <li><a href="credit2016.html">2016</a></li>
              <li><a href="credit2015.html">2015</a></li>
              <li><a href="credit2014.html">2014</a></li>
              <li><a href="credit2013.html">2013</a></li>
            </ul>
          </li>
          <li><a href="volunteer.html">봉사기관</a></li>
          <li><a href="book.html">추천도서</a></li>
          <li><a href="check.html">진행체크</a></li>
          <li><a href="site.html">참고사이트</a></li>
          <li><a href="bulletinBoard.html" class="active">게시판</a></li>
          <li><a href="mailto:wjsgudwls89@gmail.com">피드백</a></li>
          <li id="loginBtn"><img src="style/images/login.png"  onclick="login()" width="80px"; height="35px"; alt="login" /></li>
          <li id="logoutBtn"><img src="style/images/logout.png" onclick="logout()" width="80px"; height="35px"; alt="logout" /></li>

        </ul>
      </div>
      <!-- End Menu -->
      <style>
        .loginout{
	font-size:30px;
	cursor:pointer;
	}
	</style>
      <div class="sidebox">
        <ul class="share">

        </ul>
      </div>

    </div>
    <!-- End Sidebar -->
    <style>

      td{
	position: relative;
	text-align: center;
	font-weight:500;
	cursor:pointer;
	}

	.toptd{
	font-weight:1000;
	background-color:#EAEAEA;
	cursor:auto;
	}
  .submit-button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      float:right;
  }
	</style>
    <!-- Begin Content -->
    <div id="content">
      <h1 class="title">익명 질문 게시판</h1>
      <div class="line"></div>

      <table>
        <tr class="toptd">

          <td width="20%">글쓴이</td>
          <td width="60%">제목</td>
          <td width="20%">날짜</td>
        </tr>
        <tbody id="post_body"></tbody>

      </table>

      <div class="line"></div>

      <div >
        <span id="writer" style="font-weight:bold"></span>
        <p id="timeText"></p>
        <h3 id="postSubject"></h3><br />
        <p id="postMessage"></p>
        <div id="comments" style="display:none">
          <div class="line"></div>


        <table>
          <tr class="toptd">
            <td width="80%">댓글</td>
            <td width="20%">날짜</td>
          </tr>
        <tbody id="comment_body"></tbody>
        </table>
      </div>
        <div>
        <div id="comment" style="display:none">
            <label>Comment</label><br/>
            <textarea id="commentContext" rows="4" cols="102" ></textarea><br/>
            <button onclick="updateComment()" class="submit-button">submit</button>
        </div>
        <br/><br/><br/><br/><br/><div class="line"></div>

      </div>

      <div>학교생활이나 학과에 대한 질문을 자유롭게 해주세요. </div>


      <br />

      <!-- Begin Form -->

      <div class="toggle">
        <h2 class="trigger">+ 글쓰기</h2>
        <div class="togglebox">
          <div>
            <div class="form-container">
              <form class="forms" method="post">
                <fieldset>
                  <ol>
                    <li class="form-row text-input-row">
                      <label>Name</label>
                      <input type="text" id="writerName" name="name" value="" class="text-input required" title="" />
                    </li>

                    <li class="form-row text-input-row">
                      <label>Subject</label>
                      <input type="text" id="subject" name="subject" value="" class="text-input required" title="" />
                    </li>
                    <li class="form-row text-area-row">
                      <label>Message</label>
                      <textarea name="message" id="postContext" class="text-area required"></textarea>
                    </li>
                    <li class="form-row hidden-row">
                      <input type="hidden" name="hidden" value="" />
                    </li>
                    <li class="button-row">
                      <input onclick="writeAndReload();" value="Submit" class="btn-submit" />
                    </li>
                  </ol>
                  <input type="hidden" name="v_error" id="v-error" value="Required" />
                  <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
                </fieldset>
              </form>
              <div class="response"></div>
            </div>

          </div>
        </div>
      </div>

      <!-- End Form -->


      <!-- Begin Footer -->


  <!-- End Wrapper -->
  <div class="clear"></div>
  <script type="text/javascript" src="style/js/scripts.js"></script>
  <!--[if !IE]> -->
  <script type="text/javascript" src="style/js/jquery.corner.js"></script>
  <!-- <![endif]-->
</body>

</html>
