<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Caprice</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->

<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="style/js/carousel.js"></script>
<script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>

<script src="firebase-auth.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>

   <script src="https://www.gstatic.com/firebase/init.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA_-eCLWFI4rGFRheZab_B6YuwyBrYxn0s",
    authDomain: "areyouready-a2972.firebaseapp.com",
    databaseURL: "https://areyouready-a2972.firebaseio.com",
    projectId: "areyouready-a2972",
    storageBucket: "areyouready-a2972.appspot.com",
    messagingSenderId: "366382434226"
  };
  firebase.initializeApp(config);


    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
        .then(function() {
            // Existing and future Auth states are now persisted in the current
            // session only. Closing the window would clear any existing state even
            // if a user forgets to sign out.
            // ...
            // New sign-in will be persisted with session persistence.
            return firebase.auth().signInWithPopup(provider);
        })
        .catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
        });


		
		
		
    // Initialize Firebase
	function login() {
        if (!firebase.apps.length) {
            firebase.initializeApp(config);
        }
        var provider = new firebase.auth.GoogleAuthProvider();


        // 인증하기
        firebase.auth().signInWithPopup(provider).then(function (result) {
            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = result.credential.accessToken;
            // The signed-in user info.
            var user = result.user;
            var id= user.email;
            alert("로그인 되었습니다.");
            console.log(user)		// 인증 후 어떤 데이터를 받아오는지 확인해보기 위함.
			$("#loginBtn").hide();
			$("#logoutBtn").show();//...
        }).catch(function (error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            // ...
        });
    }
    //로그아웃
    function logout(){
        if (!firebase.apps.length) {
            firebase.initializeApp(config);
        }
        firebase.auth().signOut().then( () => {
            alert("로그아웃 되었습니다.");
			$("#loginBtn").show();
			$("#logoutBtn").hide();

        }).catch(function (error) {
            console.log('code:' + error.code + 'message' + error.message);
        });
    }
	
	firebase.auth().onAuthStateChanged(function(user) {
			
			var bookN="0",volunNum="0",volunTime="0",creditNum="0";
            if (user) {
			$("#loginBtn").hide();

		
			 firebase.database().ref('/user/' + user.displayName+'/bookN').once('value').then(function(snapshot) {
			  bookN = snapshot.val();
			 var n1=parseInt(bookN);
			 n1=n1/40;
			  $("#bookNum").text(bookN);

			  		
				$('#circle1').circleProgress({
	
				value: n1,
				fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
				}).on('circle-animation-progress', function(event, progress, stepValue) {
				$(this).find('p').text(stepValue.toFixed(2).substr(1)*100+"%");
				});
	
 
			});
			 firebase.database().ref('/user/' + user.uid+'/volunN').once('value').then(function(snapshot) {
			  volunN = snapshot.val();
			 
			  $("#volunNum").text(volunN);
			 var n2=parseInt(volunN);
			n2=n2/10;
						  
			$('#circle2').circleProgress({
			value: n2,
			fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
			}).on('circle-animation-progress', function(event, progress, stepValue) {
			$(this).find('p').text(stepValue.toFixed(2).substr(1)*100+"%");
			});
			
 
			})
			 firebase.database().ref('/user/' + user.uid+'/volunT').once('value').then(function(snapshot) {
			  volunT = snapshot.val();
			 
			  $("#volunTime").text(volunT);

			 var n3=parseInt(volunT);
				n3=n3/20;
						
 
				$('#circle3').circleProgress({
				value: n3,
				fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
				}).on('circle-animation-progress', function(event, progress, stepValue) {
				$(this).find('p').text(stepValue.toFixed(2).substr(1)*100+"%");
				});
				
			})
			 firebase.database().ref('/user/' + user.uid+'/creditN').once('value').then(function(snapshot) {
			  creditN = snapshot.val();
			 	var n4=parseInt(creditN);
				n4=n4/121;

			  $("#creditNum").text(creditN);
			  
				$('#circle4').circleProgress({
				value: n4,
				fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
				}).on('circle-animation-progress', function(event, progress, stepValue) {
				$(this).find('p').text(stepValue.toFixed(2).substr(1)*100+"%");
				});
	

 
			})
			
		

            } else {
			$("#logoutBtn").hide();
            }
        });
			
</script>

<script>
function saveClick(){
	
	var user =firebase.auth().currentUser;
	var bookNum=$("#bookNum").text(), volunNum=$("#volunNum").text(),volunTime=$("#volunTime").text(),creditNum=$("#creditNum").text();
	if(user!=null) {
	 firebase.database().ref('user/' + user.displayName).set({
		
		bookN: bookNum,
		volunN: volunNum,
		volunT: volunTime,
		creditN: creditNum
  });
	alert("저장완료");
	location.reload();
	}
	}
</script>
<script>
function bookNPlus() {
var n=parseInt($("#bookNum").text());
n++;
$("#bookNum").text(n);
}
function bookNMinus() {
var n=parseInt($("#bookNum").text());
n--;
$("#bookNum").text(n);
}
function volunNPlus() {
var n=parseInt($("#volunNum").text());
n++;
$("#volunNum").text(n);
}
function volunNMinus() {
var n=parseInt($("#volunNum").text());
if(n>0)
n--;
$("#volunNum").text(n);
}
function volunTPlus() {
var n=parseInt($("#volunTime").text());
n++;
$("#volunTime").text(n);
}
function volunTMinus() {
var n=parseInt($("#volunTime").text());
if(n>0)
n--;
$("#volunTime").text(n);
}
function creditNPlus() {
var n=parseInt($("#creditNum").text());
n++;
$("#creditNum").text(n);
}
function creditNMinus() {
var n=parseInt($("#creditNum").text());
if(n>0)
n--;
$("#creditNum").text(n);
}
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
	<!-- Begin Sidebar -->
	<div id="sidebar">
		 <div id="logo"><a href="index.html"><img src="style/images/logo.png" alt="Caprice" /></a></div>

	<!-- Begin Menu -->
	<div id="menu" class="menu-v">
		<ul>
			<li><a href="home.html" >홈</a></li>
			<li><a href="requirement.html">졸업요건</a></li>
			<li><a href="credit2017.html">이수과목</a>
				<ul>
					<li><a href="credit2017.html">2017</a></li>
					<li><a href="credit2016.html">2016</a></li>
					<li><a href="credit2015.html">2015</a></li>
					<li><a href="credit2014.html">2014</a></li>
					<li><a href="credit2013.html">2013</a></li>
				</ul>
			</li>
			<li><a href="volunteer.html">봉사기관</a></li>
			<li><a href="book.html">추천도서</a></li>
			<li><a href="check.html" class="active">진행체크</a></li>
			<li><a href="site.html">참고사이트</a></li>
			<li><a href="bulletinBoard.html">게시판</a></li>
			<li><a href="feedback.html">피드백</a></li>
		</ul>
	</div>
    <!-- End Menu -->
	<style>
	.loginout{
	font-size:30px;
	cursor:pointer;
	}
	</style>
    <div  class="sidebox">
    <ul class="share" >
    	<li id="loginBtn" class="loginout"  ><a onclick="login();">Log in</a></li><br/>
    	<li id="logoutBtn" class="loginout"> <a onclick="logout();">Log out</a></li>
    </ul>
    </div>


	</div>
	<!-- End Sidebar -->

	<!-- Begin Content -->
	<div id="content">
	
	<style>
	.save {
	width: 600px;
  margin: 6px 6px 20px;
  position: relative;
  text-align: right;

	}
	</style>
	<h1 class="title">졸업요건 진행상황</h1>
	<div class="save">
	<button id="saveBtn" onclick="saveClick();">업데이트</button>
	</div>
	<div class="line"></div>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.1/dist/circle-progress.js"></script>

  <style>
.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.radialBar {width:600px; border:4px solid #030066; display:flex; justify-content:space-around;}

  .test{
    height:30px;
    width:39px;
}
  </style>
	<h2>독후감</h2><br/>
	
	
	<div class="radialBar">
		  <p><b id="bookNum" style="color:red">0</b> / 40권 </p>
	</div>
	<div class="radialBar">
	<div class="circle" id="circle1">
	<p id="percent1">0%</p>
	<button onclick="bookNPlus();" class="test"><img src="style/images/plus.png" width="25px" height="25px" />&nbsp; </button> 
	<button onclick="bookNMinus();" class="test"><img src="style/images/minus.png"  width="25px" height="25px" />&nbsp;  </button>
	</div>
	</div><br/>
	
	<div class="line"></div>
	
	<h2>봉사활동</h2><br/>
	
	
	<div class="radialBar">
		  <p><b id="volunNum" style="color:red">0</b> / <span>10<span> 번 </p> <p><b id="volunTime" style="color:red">0</b> / 20 시간</p>
	</div>
	<div class="radialBar">
	<div class="circle" id="circle2">
	<p id="percent2">0%</p>
	<button onclick="volunNPlus();"  class="test"><img src="style/images/plus.png" width="25px" height="25px" />&nbsp; </button> 
	<button onclick="volunNMinus();" class="test"><img src="style/images/minus.png"  width="25px" height="25px" />&nbsp;  </button>
	</div>
		<div class="circle" id="circle3">
	<p id="percent3">0%</p>
	<button onclick="volunTPlus();" class="test"><img src="style/images/plus.png" width="25px" height="25px" />&nbsp; </button> 
	<button onclick="volunTMinus();" class="test" ><img src="style/images/minus.png"  width="25px" height="25px" />&nbsp;  </button>
	</div>
	</div><br/>
	<div class="line"></div>

	<h2>이수 학점</h2><br/>
	

	<div class="radialBar">
		  <p><b id="creditNum" style="color:red">0</b> / 121 점</p>
	</div>
	<div class="radialBar">
	<div class="circle" id="circle4">
	<p id="percent4">0%</p>
	<button onclick="creditNPlus();" class="test"><img src="style/images/plus.png" width="25px" height="25px" />&nbsp; </button> 
	<button onclick="creditNMinus();" class="test"><img src="style/images/minus.png"  width="25px" height="25px" />&nbsp;  </button>
	</div>
	</div><br/>
	
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.1/dist/circle-progress.js"></script>
	<script>
	$('#circle1').circleProgress({
	
	value: 0,
	fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
	}).on('circle-animation-progress', function(event, progress, stepValue) {
	$(this).find('b').text(stepValue.toFixed(2).substr(1)*100+"%");
	});	
 

	$('#circle2').circleProgress({
    value: 0,
    fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
	}).on('circle-animation-progress', function(event, progress, stepValue) {
    $(this).find('b').text(stepValue.toFixed(2).substr(1)*100+"%");
	});
	
	$('#circle3').circleProgress({
    value: 0,
    fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
	}).on('circle-animation-progress', function(event, progress, stepValue) {
    $(this).find('b').text(stepValue.toFixed(2).substr(1)*100+"%");
	});
	
	$('#circle4').circleProgress({
    value: 0,
    fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
	}).on('circle-animation-progress', function(event, progress, stepValue) {
    $(this).find('b').text(stepValue.toFixed(2).substr(1)*100+"%");
	});
	
	$('#circle5').circleProgress({
    value: 0,
    fill: {gradient: [['red',1], ['red',1]], gradientAngle: Math.PI / 4}
	}).on('circle-animation-progress', function(event, progress, stepValue) {
    $(this).find('b').text(stepValue.toFixed(2).substr(1)*100+"%");
	});
	</script>

	
	

     
    <!-- Begin Footer -->
    <div id="footer">
  	<div class="footer-box one-third">
  	<h3>Popular Posts</h3>
			<ul class="popular-posts">
				<li>
					<a href="#"><img src="style/images/art/s1.jpg" alt="" /></a>
					<h5><a href="#">Dolor Commodo Consectetur</a></h5>
					<span>26 Aug 2011 | <a href="#">21 Comments</a></span>
				</li>

				<li>
					<a href="#"><img src="style/images/art/s2.jpg" alt="" /></a>
					<h5><a href="#">Dolor Commodo Consectetur</a></h5>
					<span>26 Aug 2011 | <a href="#">21 Comments</a></span>
				</li>

				<li>
					<a href="#"><img src="style/images/art/s3.jpg" alt="" /></a>
					<h5><a href="#">Dolor Commodo Consectetur</a></h5>
					<span>26 Aug 2011 | <a href="#">21 Comments</a></span>
				</li>

			</ul>
  	</div>
  	<div class="footer-box one-third">
  	<h3>About</h3>
  	<p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</p>
  	<p>Lorem Ipsum Dolor Sit
          Moon Avenue No:11/21
          Planet City, Earth<br>
          <br>
          <span class="lite1">Fax:</span> +555 797 534 01<br>
          <span class="lite1">Tel:</span> +555 636 646 62<br>
          <span class="lite1">E-mail:</span> name@domain.com</p>


  	</div>

  	<div class="footer-box one-third last">
  	<h3>Custom Text</h3>
  	<p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit. </p>
  	<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
  	</div>
    </div>
    <!-- End Footer -->

	</div>
	<!-- End Content -->

</div>
<!-- End Wrapper -->
<div class="clear"></div>
<script type="text/javascript" src="style/js/scripts.js"></script>
<!--[if !IE]> -->
<script type="text/javascript" src="style/js/jquery.corner.js"></script>
<!-- <![endif]-->
</body>
</html>
