
<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>AreYouReady?!</title>
  <link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="style.css" media="all" />
  <link rel="stylesheet" type="text/css" media="screen" href="style/css/prettyPhoto.css" />
  <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
  <!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
  <!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
  <script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
  <script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="style/js/carousel.js"></script>
  <script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="style/js/jquery.slickforms.js"></script>


  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
  <!-- Firebase App is always required and must be first -->
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>

  <!-- Add additional services that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-functions.js"></script>
  <script type="text/javascript" src="logging.js"></script>
  <script type="text/javascript" src="check.js"></script>

</head>

<body>
  <!-- Begin Wrapper -->
  <div id="wrapper">
    <!-- Begin Sidebar -->
    <div id="sidebar">
      <div id="logo"><a href="index.html"><img src="style/images/ayr_logo.png" width="200px" ; height="60px" ; alt="AreYouReady?!" /></a></div>

      <!-- Begin Menu -->
      <div id="menu" class="menu-v">
        <ul>
          <li><a href="index.html">홈</a></li>
          <li><a href="requirement.html">졸업요건</a></li>
          <li><a href="credit2017.html">이수과목</a>
            <ul>
              <li><a href="credit2017.html">2017</a></li>
              <li><a href="credit2016.html">2016</a></li>
              <li><a href="credit2015.html">2015</a></li>
              <li><a href="credit2014.html">2014</a></li>
              <li><a href="credit2013.html">2013</a></li>
            </ul>
          </li>
          <li><a href="volunteer.html">봉사기관</a></li>
          <li><a href="book.html">추천도서</a></li>
          <li><a href="check.html" class="active">진행체크</a></li>
          <li><a href="site.html">참고사이트</a></li>
          <li><a href="bulletinBoard.html">게시판</a></li>
          <li><a href="feedback.html">피드백</a></li>
          <li id ="loginBtn"><img src="style/images/login.png"  onclick="login()" width="80px";  height="35px"; alt="login" /></li>
          <li id="logoutBtn"><img src="style/images/logout.png" onclick="logout()" width="80px"; height="35px"; alt="logout" /></li>

        </ul>
      </div>
      <!-- End Menu -->
      <style>
        .loginout{
	font-size:30px;
	cursor:pointer;
	color:red;
	}
	</style>
      <div class="sidebox">
        <ul class="share">
          </ul>
      </div>


    </div>
    <!-- End Sidebar -->

    <!-- Begin Content -->
    <div id="content">

      <h2>독후감</h2><br />
      <div class="line"></div>

      <div id="bookDiv"></div>
      <progress id="bookNumValue" value="0" max="40">

      </progress>
      <p><b id="bookNum" style="color:red">0</b> / 40권 </p>
      <br />

      <table>
        <tr class="toptd">

          <td class="top">책 제목</td>
          <td class="top">날짜</td>
        </tr>
        <tbody id="book_body"></tbody>

      </table>

      <div class="toggle">
        <h2 class="trigger">+ 독후감 추가</h2>
        <div class="togglebox">
          <div>
            <div class="form-container">
              <form class="forms" method="post">
                <fieldset>
                  <ol>
                    <li class="form-row text-input-row">
                      <label>책 제목</label>
                      <input type="text" id="bookTitle"  class="text-input required" title="" />
                    </li>

                    <li class="form-row text-input-row">
                      <label>제출일자</label>
                      <input type="text" id="readDate" placeholder="Ex) 2018/12/1" value="" class="text-input required" title="" />
                    </li>


                    <li class="button-row">
                      <input onclick="updateBook();" value="Submit" class="btn-submit" />
                    </li>
                  </ol>

                </fieldset>
              </form>
              <div class="response"></div>
            </div>

          </div>
        </div>
      </div>

      <h2>봉사활동</h2><br />
      <div class="line"></div>

      <progress id="volunNumValue" value="0" max="10">
      </progress><br />
      <p><b id="volunNum" style="color:red">0</b> / 10 회</p>
      <progress id="volunTimeValue" value="0" max="20">
      </progress><br />
      <p><b id="volunTime" style="color:red">0</b> / 20 시간</p>



      <table>
        <tr class="toptd">
          <td class="top">장소</td>
          <td class="top">횟수</td>
          <td class="top">시간</td>


        </tr>
        <tbody id="volun_body"></tbody>

      </table>

      <div class="toggle">
        <h2 class="trigger">+ 봉사활동 추가</h2>
        <div class="togglebox">
          <div>
            <div class="form-container">
              <form class="forms" method="post">
                <fieldset>
                  <ol>
                    <li class="form-row text-input-row">
                      <label>봉사 장소</label>
                      <input type="text" id="volunPlace" class="text-input required" title="" />
                    </li>

                    <li class="form-row text-input-row">
                      <label>봉사 횟수</label>
                      <input type="text" id="thisVolunNum" class="text-input required" title="" />
                    </li>
                    <li class="form-row text-input-row">
                      <label>봉사 시간</label>
                      <input type="text" id="thisVolunTime" class="text-input required" title="" />
                    </li>

                    <li class="button-row">
                      <input onclick="updateVolun();" value="Submit" class="btn-submit" />
                    </li>
                  </ol>

                </fieldset>
              </form>
              <div class="response"></div>
            </div>

          </div>
        </div>
      </div>

            <h2>이수 학점</h2><br />
            <div class="line"></div>

            <progress id="creditValue" value="0" max="121">

            </progress><br />
            <p><b id="creditNum" style="color:red">0</b> / 121 점</p>


    </div>
    <!-- End Content -->

  </div>
  <!-- End Wrapper -->
  <div class="clear"></div>
  <script type="text/javascript" src="style/js/scripts.js"></script>
  <!--[if !IE]> -->
  <script type="text/javascript" src="style/js/jquery.corner.js"></script>
  <!-- <![endif]-->
</body>

</html>
