<!DOCTYPE HTML>

<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>AreYouReady?!</title>
    <script type="text/javascript" src="style/js/jquery-1.6.4.min.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link type="text/css" href="style/css/bootstrap.css"/>
    <link type="text/css" href="style/css/button.css"/>
    <!--
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />

<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />

<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />

<![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-functions.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="style/js/carousel.js"></script>
<script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>
    <script type="text/javascript" src="style/js/bootstrap.js"></script>



    <script>
        var config = {
            apiKey: "AIzaSyA_-eCLWFI4rGFRheZab_B6YuwyBrYxn0s",
            authDomain: "areyouready-a2972.firebaseapp.com",
            databaseURL: "https://areyouready-a2972.firebaseio.com",
            projectId: "areyouready-a2972",
            storageBucket: "areyouready-a2972.appspot.com",
            messagingSenderId: "366382434226"
        };
        firebase.initializeApp(config);
        </script>


        <script>

            setTimeout(function() {

                var users = firebase.auth().currentUser;
                //var j = 3;
                var index;
                var chkbox = $("input[name=gradePoint]");
                var getCheck =  firebase.database().ref('/user/'+users.displayName+'/check/');

                getCheck.once('value').then(function (data) {
                   index = data.val();

                    //console.log(index);
                    for(i = 0;i<index.length;i++){
                        if(index[i] == 'checked') {
                            chkbox[i].checked = true;
                        }
                        else{}
                    }
                });
                }, 1000);


                        firebase.auth().onAuthStateChanged(function(user) {

                          if (user) {
                            $("#loginBtn").hide();
                          } else {
                            alert("로그인이 필요합니다.");
                            login();
                          }
                        });




   function getTotal(){

       var user = firebase.auth().currentUser;
       var send_cnt = 0;
       var chkbox = $("input[name=gradePoint]");
       var total = 0;

       for(i=0;i<chkbox.length;i++) {
               firebase.database().ref('/user/'+user.displayName+'/check/'+i).set('unchecked');
           }

       for(i=0;i<chkbox.length;i++) {
           if (chkbox[i].checked == true){
               total = total + parseInt(chkbox[i].value);
               firebase.database().ref('/user/'+user.displayName+'/check/'+i).set('checked');
               send_cnt++;
           }
       }

       alert("저장되었습니다.");

       firebase.database().ref('/user/'+user.displayName+'/gradePoint').set(total);
   }


</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
	<!-- Begin Sidebar -->
	<div id="sidebar">
        <div id="logo"><a href="index.html"><img src="style/images/ayr_logo.png" width="200px" ; height="60px" ; alt="AreYouReady?!" /></a></div>

        <!-- Begin Menu -->
	<div id="menu" class="menu-v">
		<ul>
			<li><a href="index.html" >홈</a></li>
			<li><a href="requirement.html">졸업요건</a></li>
			<li><a href="" class="active">이수과목</a>
				<ul>
					<li><a href="credit2017.html">2017</a></li>
					<li><a href="credit2016.html">2016</a></li>
					<li><a href="credit2015.html">2015</a></li>
					<li><a href="credit2014.html">2014</a></li>
					<li><a href="credit2013.html">2013</a></li>
				</ul>
			</li>
			<li><a href="volunteer.html">봉사기관</a></li>
			<li><a href="book.html">추천도서</a></li>
			<li><a href="check.html">진행체크</a></li>
			<li><a href="site.html">참고사이트</a></li>
			<li><a href="bulletinBoard.html">게시판</a></li>
            <li><a href="mailto:wjsgudwls89@gmail.com">피드백</a></li>
            <li id="loginBtn"><img src="style/images/login.png"  onclick="login()" width="80px"; height="35px"; alt="login" /></li>
            <li id="logoutBtn"><img src="style/images/logout.png" onclick="logout()" width="80px"; height="35px"; alt="logout" /></li>

        </ul>
	</div>
    <!-- End Menu -->
	<style>
	.loginout{
	font-size:30px;
	cursor:pointer;
	}
	</style>
    <div  class="sidebox">
    <ul class="share" >

    </ul>
    </div>


	</div>
	<!-- End Sidebar -->

	<!-- Begin Content -->
	<div id="content">
	<h1 class="title">이수과목</h1>
	<div class="line"></div>
	<div class="title">이수과목 체크리스트를 통하여 자신이 총 몇학점을 이수 하였는지 알 수 있습니다.</div><br/>
        <div class="line"></div>
	<div class="tabbed-content">
        <h3>2013 학번</h3>
        <ul class="tabs">
          <li><a href="#tab1">1학년</a></li>
          <li><a href="#tab2">2학년</a></li>
          <li><a href="#tab3">3학년</a></li>
            <li><a href="#tab4">4학년</a></li>

        </ul>
        <div class="tab_container">
          <div style="display: none;" id="tab1" class="tab_content">
              <style type="text/css">
                  .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
                  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;
                      border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#ffffff;}
                  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;
                      border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;
                      background-color:#b1b4da;}
                  .tg .tg-baqh{text-align:center;vertical-align:top}
                  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
              </style>
              <table class="tg">
                  <tr>
                      <th class="tg-c3ow">과목</th>
                      <th class="tg-c3ow">학점</th>
                      <th class="tg-c3ow">수강</th>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">컴퓨터 프로그래밍</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/> </td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">컴퓨터 구조</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">공학 수학</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">대학중점세미나 1</td>
                      <td class="tg-c3ow">1</td>
                      <td class="tg-c3ow"><input type="checkbox" class="checkbox" value="1" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">Academic English 0-3</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">동아시아의 이해</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
              </table>
              <style type="text/css">
                  .ta  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
                  .ta td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;
                      overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
                  .ta th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;
                      border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;
                      background-color:#ff3388;}
                  .ta .ta-baqh{text-align:center;vertical-align:top}
                  .ta .ta-c3ow{border-color:inherit;text-align:center;vertical-align:top}
              </style>
              <table class="ta">
                  <tr>
                      <th class="ta-baqh">과목</th>
                      <th class="ta-c3ow">학점</th>
                      <th class="ta-baqh">수강</th>
                  </tr>
                  <tr>
                      <td class="ta-baqh">문제해결방법</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">웹프로그래밍</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">확률 통계</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">대학중점세미나 2</td>
                      <td class="ta-c3ow">1</td>
                      <td class="ta-baqh"><input type="checkbox" value="1" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">Academic English 1-4</td>
                      <td class="ta-c3ow">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">이공계 글쓰기</td>
                      <td class="ta-c3ow">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">글로벌시대의 리더십론</td>
                      <td class="ta-baqh">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
              </table>
          </div>
          <div style="display: none;" id="tab2" class="tab_content">
              <table class="tg">
                  <tr>
                      <th class="tg-c3ow">과목</th>
                      <th class="tg-c3ow">학점</th>
                      <th class="tg-c3ow">수강</th>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">자료구조</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/> </td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">객체지향 프로그래밍</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">운영 체제</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">경제학 개론</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">Speaking Practice A</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">중국어 1</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">미술감상과 비평</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
              </table>
              <!--<style type="text/css">-->
                  <!--.ta  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}-->
                  <!--.ta td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}-->
                  <!--.ta th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}-->
                  <!--.ta .ta-baqh{text-align:center;vertical-align:top}-->
                  <!--.ta .ta-c3ow{border-color:inherit;text-align:center;vertical-align:top}-->
              <!--</style>-->
              <table class="ta">
                  <tr>
                      <th class="ta-baqh">과목</th>
                      <th class="ta-c3ow">학점</th>
                      <th class="ta-baqh">수강</th>
                  </tr>
                  <tr>
                      <td class="ta-baqh">컴퓨터 네트워크</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">알고리즘</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">데이터 베이스</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">Speaking Practice B</td>
                      <td class="ta-c3ow">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">중국어 2</td>
                      <td class="ta-c3ow">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">심리학</td>
                      <td class="ta-c3ow">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
              </table>
          </div>
          <div style="display: none;" id="tab3" class="tab_content">
              <table class="tg">
                  <tr>
                      <th class="tg-c3ow">과목</th>
                      <th class="tg-c3ow">학점</th>
                      <th class="tg-c3ow">수강</th>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">모바일 프로그래밍</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/> </td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">소프트웨어 공학</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">컴퓨터 그래픽스</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">경영학원론</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">IT 세미나</td>
                      <td class="tg-c3ow">1</td>
                      <td class="tg-c3ow"><input type="checkbox" value="1" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">졸업작품 1</td>
                      <td class="tg-c3ow">1</td>
                      <td class="tg-c3ow"><input type="checkbox" value="1" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">Speaking Practice C</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">건축문화사</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
              </table>
              <style type="text/css">
                  .ta  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
                  .ta td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
                  .ta th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
                  .ta .ta-baqh{text-align:center;vertical-align:top}
                  .ta .ta-c3ow{border-color:inherit;text-align:center;vertical-align:top}
              </style>
              <table class="ta">
                  <tr>
                      <th class="ta-baqh">과목</th>
                      <th class="ta-c3ow">학점</th>
                      <th class="ta-baqh">수강</th>
                  </tr>
                  <tr>
                      <td class="ta-baqh">고급 웹프로그래밍</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">분산시스템</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">로봇공학</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">마케팅</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">졸업작품 2</td>
                      <td class="ta-c3ow">1</td>
                      <td class="ta-baqh"><input type="checkbox" value="1" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">Speaking Practice D</td>
                      <td class="ta-c3ow">2</td>
                      <td class="ta-baqh"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">자율선택 1</td>
                      <td class="ta-baqh">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
              </table>
          </div>
          <div style="display: none;" id="tab4" class="tab_content">

              <table class="tg">
                  <tr>
                      <th class="tg-c3ow">과목</th>
                      <th class="tg-c3ow">학점</th>
                      <th class="tg-c3ow">수강</th>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">데이터 마이닝</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/> </td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">멀티미디어</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">기술 경영</td>
                      <td class="tg-c3ow">3</td>
                      <td class="tg-c3ow"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">졸업작품 3</td>
                      <td class="tg-c3ow">1</td>
                      <td class="tg-c3ow"><input type="checkbox" value="1" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="tg-c3ow">자율선택 2</td>
                      <td class="tg-c3ow">2</td>
                      <td class="tg-c3ow"><input type="checkbox" value="2" name="gradePoint"/></td>
                  </tr>
              </table>
              <style type="text/css">
                  .ta  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
                  .ta td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
                  .ta th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;
                      border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;
                      background-color:#bfd6e3;}
                  .ta .ta-baqh{text-align:center;vertical-align:top}
                  .ta .ta-c3ow{border-color:inherit;text-align:center;vertical-align:top}
              </style>
              <table class="ta">
                  <tr>
                      <th class="ta-baqh">과목</th>
                      <th class="ta-c3ow">학점</th>
                      <th class="ta-baqh">수강</th>
                  </tr>
                  <tr>
                      <td class="ta-baqh">컴퓨터보안</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">HCI</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  <tr>
                      <td class="ta-baqh">기업가정신</td>
                      <td class="ta-c3ow">3</td>
                      <td class="ta-baqh"><input type="checkbox" value="3" name="gradePoint"/></td>
                  </tr>
                  </tr>
              </table>
          </div>
        </div>
        <a type="button" class="button blue" onclick="getTotal()" style="  float: right; margin-top: 20px"> 입력 </a>
      </div>




<!-- End Wrapper -->
<div class="clear"></div>
<script type="text/javascript" src="style/js/scripts.js"></script>
<!--[if !IE]> -->
<script type="text/javascript" src="style/js/jquery.corner.js"></script>
<!-- <![endif]-->
</body>
</html>
